@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/RobotoThin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/RobotoRegular.ttf");
  font-weight: 400;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
  background: linear-gradient(to left, grey, white);
}
.nav-item {
  border: 1px solid black;
  padding: 0px 40px;
}
html {
  scroll-behavior: smooth;
}
.section-item a {
  color: #117e1f;
  text-decoration: none;
  transition: color 0.5s;
}
.section-item a:hover {
  color: #18a336;
}
.contacts {
  font-weight: bold;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #22835e;
}
main {
  background: linear-gradient(to left, grey, white);
  color: black;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
#Name {
  padding-top: 100px;
}
#contacts {
  padding-top: 100px;
}
#About {
  padding-top: 100px;
}
#skills {
  padding-top: 100px;
}
#Code {
  padding-top: 100px;
}
#Projects {
  padding-top: 100px;
}
#Education {
  padding-top: 100px;
}
#Languages {
  padding-top: 100px;
}
